/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('1.png') no-repeat center center fixed;
    background-size: cover;
}

nav {
    position: fixed;
    width: 100%;
    background: #333;
    color: #fff;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 1em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px; /* Adjust if nav height changes */
    position: relative;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 0;
    }

.centered {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* To add some space between content and footer */
}
